.bottom-section-header .bottom-section-inner{
  border-top:1px;border-right:0;border-bottom:0;border-left:0;border-style:solid;border-color:#cccccc;
}
.top-heading .module-social-icon .social-item:hover,
.top-heading .module-social-icon .social-item:focus,
.navigation-bar .module-social-icon .social-item:hover,
.navigation-bar .module-social-icon .social-item:focus{ color: #ed1c24}
  .main-menu > .page_item > a,
  .main-menu > .menu-item > a{
    border-top:0;border-right:0;border-bottom:0;border-left:0;border-style:solid;border-color:;
}
@media (max-width: 768px){

.navigation-bar,
.navigation-bar a,
.navigation-bar .logo-text,
.navigation-bar .logo-text a,
.navigation-bar .icon-graphic > li .info-title,
.navigation-bar .icon-graphic > li .info-label,
.main-menu > .page_item > a,
.main-menu > .menu-item > a,
.main-menu .sub-menu .menu-item > a,
.main-menu .sub-menu .page_item > a,
.navigation-bar.affix,
.navigation-bar.affix a,
.navigation-bar.affix .logo-text,
.navigation-bar.affix .logo-text a,
.navigation-bar.affix .icon-graphic > li .info-title,
.navigation-bar.affix .icon-graphic > li .info-label,
.navigation-bar.affix .module-menu .menu-item,
.navigation-bar.affix .module-menu .menu-item > a,
.navigation-bar.affix .module-menu > .menu-item > a

{
  color: #222222;
}
 .main-menu .page_item:hover > a,
.main-menu .menu-item:hover > a,
.main-menu .sub-menu .page_item:hover > a,
.main-menu .sub-menu .menu-item:hover > a,
.main-menu .sub-menu .page_item:focus > a,
.main-menu .sub-menu .menu-item:focus > a{
  color: #041e42;
}
.main-menu .sub-menu .menu-item.current_page_parent > a,
.main-menu .sub-menu .page_item.current_page_item > a,
.main-menu .sub-menu .menu-item.current_page_item > a,
.main-menu .sub-menu .page_item.current_page_parent > a,
.main-menu .sub-menu .menu-item.current_page_parent > a  {
    color: #46c2ca;
}

  }
.navigation-bar .navigation-bar-inner,
.navigation-bar.affix .navigation-bar-inner{padding-top:15px;padding-bottom:16px }
  .page-heading,
.page-heading .top-heading{
  background-color: 0,0,0;
}
  body,
  .icon-bar,
  .main-content{
    background-color: 0,0,0;
  }
.heading-module .slide-bar{font-size:20px;}
.heading-module .slide-bar:hover{ color:#ed1c24}
.slide-toggle .slide-toggle-inner{border-color:#041e42;background-color:#041e42;}
.slide-toggle .slide-toggle-inner:hover,.slide-toggle .slide-toggle-inner:focus{background-color:#ed1c24!important;border-color:#ed1c24!important;}
