/*!
 *  Font Walls WP by @rudhisasmito
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'petro-counstruction-webfont';
  src: url("petro-webfontc56b.eot?51534236");
  src: url("petro-webfontc56b.eot?51534236#iefix") format("embedded-opentype"), url("petro-webfontc56b.woff2?51534236") format("woff2"), url("petro-webfontc56b.woff?51534236") format("woff"), url("petro-webfontc56b.ttf?51534236") format("truetype"), url("petro-webfontc56b.svg?51534236#petro-webfont") format("svg");
  font-weight: normal;
  font-style: normal; 
}

[class^="petro-construct"]:before,
[class*=" petro-construct"]:before,
.petro-construct {
  font-family: "petro-counstruction-webfont";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ 
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.elementor-icons-manager__tab__item__icon.petro-construct{
  font-size: 25px!important;
}

.petro-construct-helmet:before {content: '\e813'; }
.petro-construct-wall:before {content: '\e800'; }
.petro-construct-barrier:before {content: '\e801'; }
.petro-construct-hammer:before {content: '\e802'; }
.petro-construct-tools:before {content: '\e803'; }
.petro-construct-crossbar:before {content: '\e804'; }
.petro-construct-wrench:before {content: '\e805'; }
.petro-construct-shovel:before {content: '\e806'; }
.petro-construct-roller:before {content: '\e807'; }
.petro-construct-mockups:before {content: '\e808'; }
.petro-construct-wheelbarrow:before {content: '\e809'; }
.petro-construct-blueprint:before {content: '\e80a'; }
.petro-construct-wallpaper:before {content: '\e80b'; }
.petro-construct-floor:before {content: '\e80c'; }
.petro-construct-house:before {content: '\e80d'; }
.petro-construct-cone:before {content: '\e80e'; }
.petro-construct-pulley:before {content: '\e80f'; }
.petro-construct-trowel:before {content: '\e810'; }
.petro-construct-truck:before {content: '\e811'; }
.petro-construct-tile:before {content: '\e812';}
.petro-construct-droplet:before { content: '\e814'; } /* '' */
.petro-construct-barrel:before { content: '\e815'; } /* '' */
.petro-construct-factory:before { content: '\e816'; } /* '' */
.petro-construct-power:before { content: '\e817'; } /* '' */
.petro-construct-destilation:before { content: '\e818'; } /* '' */
.petro-construct-seesaw:before { content: '\e819'; } /* '' */
.petro-construct-pipette:before { content: '\e81a'; } /* '' */
.petro-construct-industry:before { content: '\e81b'; } /* '' */
.petro-construct-industry-alt:before { content: '\e81c'; } /* '' */
.petro-construct-flame:before { content: '\e81d'; } /* '' */
.petro-construct-tackle:before { content: '\e81e'; } /* '' */
.petro-construct-excavator:before { content: '\e81f'; } /* '' */
.petro-construct-hook:before { content: '\e820'; } /* '' */
.petro-construct-worker:before { content: '\e821'; } /* '' */
.petro-construct-broom:before { content: '\e822'; } /* '' */
.petro-construct-meter:before { content: '\e823'; } /* '' */
.petro-construct-dumper:before { content: '\e824'; } /* '' */
.petro-construct-tap:before { content: '\e825'; } /* '' */
.petro-construct-stairs:before { content: '\e826'; } /* '' */
.petro-construct-ruler:before { content: '\e827'; } /* '' */
.petro-construct-bulldozer:before { content: '\e828'; } /* '' */
.petro-construct-tap-alt:before { content: '\e829'; } /* '' */
.petro-construct-drum-roller:before { content: '\e82a'; } /* '' */
.petro-construct-tower:before { content: '\e82b'; } /* '' */
.petro-construct-saw:before { content: '\e82c'; } /* '' */
.petro-construct-drill:before { content: '\e82d'; } /* '' */
.petro-construct-plier:before { content: '\e82e'; } /* '' */
.petro-construct-piston:before { content: '\e82f'; } /* '' */
.petro-construct-gear:before { content: '\e830'; } /* '' */
.petro-construct-gears:before { content: '\e831'; } /* '' */
.petro-construct-compass:before { content: '\e832'; } /* '' */
.petro-construct-leaf:before { content: '\e833'; } /* '' */
.petro-construct-leaf-alt:before { content: '\e834'; } /* '' */
.petro-construct-helm:before { content: '\e835'; } /* '' */
.petro-construct-road-roller:before { content: '\e836'; } /* '' */
.petro-construct-leaf-2:before { content: '\e837'; } /* '' */
.petro-construct-windmill:before { content: '\e838'; } /* '' */
.petro-construct-bottle:before { content: '\e839'; } /* '' */
.petro-construct-chicken:before { content: '\e83a'; } /* '' */
.petro-construct-fruits:before { content: '\e83b'; } /* '' */